@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@font-face {
    font-family: "Young Serif";
    src: url(assets/youngserif.woff2), url(assest/youngserif.woff);
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url(assets/ibm-plex-mono.woff2), url(assest/ibm-plex-mono.woff);
}

body {
    font-family: "IBM Plex Mono";
    font-size: 16px;
    line-height: 1.6;
    color: #2a2a2a;
    background-color: #fff;
    overflow-x: hidden;
}

h1 {
    font-family: "Young Serif";
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 8px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #00b98d;
    color: #fff;

    font-family: "Young Serif";
    font-size: 24px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

nav a {
    margin-left: 32px;
}

main {
    position: relative;
    z-index: 1;
    background-color: #fff;
    min-height: 100vh;
    transition: 300ms ease-in-out;
}

main.open {
    transform: translate(240px, 0);
}

.toggle-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 8px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 56px;
}

section div {
    width: 350px;
}

.content button {
    margin-top: 24px;
    padding: 12px 24px;
    background-color: #00b98d;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    align-self: flex-start;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.content button:hover {
    background-color: #007e60;
}

.slides {
    height: 475px;
    position: relative;
}

.slides img {
    position: absolute;
    top: 0;
    left: 0;
}

.slides img:first-child {
    z-index: 1;
}